<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>dojos.html</title>
</head>
<body>

    <h1>user can add a new car information</h1>
    <form action="">
        name:<input type="text">
        year: <input type="text">
        color: <input type="text">
        <button type='submit' > Submit</button>
    </form>
    
</body>
</html>