<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body>
    <h1> home page index counter ali</h1>
    <h1> counter = <%= counterNumber %> </h1>
    <br>
    <hr>
    <a href="/CountByTwo"><button>Add by 2 to the counter</button></a>
    <br>
    <br>
    <br>
    <a href="/reset"><button>Reset</button></a>

</body>
</html>