<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>cats and Cats</title>
</head>

<body>
    <div class="center">
        <h1 class="pinkBack">EJS cats</h1>
        
        <a href="/1"> <img src="./img/cat_1.jpg"  alt="NOT Found 1"></a>
        <a href="/2"> <img src="./img/cat_2.jpg" alt="NOT Found 2"></a>

         
        
    </div>


</body>

</html>