*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#theMap
{
    display: inline-block;

    /*for removing wihitespeace  H*/
    line-height: 0px; 
    
   /*for removing wihitespeace  V */
    font-size: 0; 

}

.color1
{
    display: inline-block;
    background-color: #FF0000;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
.color2
{
    display: inline-block;
    background-color: #000000;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    
}