<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment: Quoting Dojo</title>

</head>

<body>
       
        <!-- based on the structure of your messages, determine how to display them -->
        <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
        <h3><%= x %></h3>
        <% } %>
        <% } %>


    <h1>add Quote</h1>
    <form action="/quotes" method="POST">

        name:
        <br>
        <input type="text" name="fName">
        <br>
        quote:
        <br>

        <textarea name="fQuote" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Save">

        <br>
        <br>

        <a href="/quotes">Show Quotes</a>


    </form>
</body>

</html>