<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Read(All) | Semi-Restful Users | CRUD</title>
</head>

<body>
    <div class="container-fluid">
        <h1>All Users</h1>
        <br>
        
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for userInfo in allUsers %}
                    <tr>
                        <td><a href="/users/{{userInfo['id']}}">{{userInfo['id']}}</a></td>
                        <td>{{ userInfo['first_name'] }} {{ userInfo['last_name'] }}</td>
                        <td>{{userInfo['email']}}</td>
                        <td>{{userInfo['created_at']}}</td>

                        <td><a href="/users/{{userInfo['id']}}">Show</a> |
                            <a href="/users/{{userInfo['id']}}/edit">Edit</a> |
                            <a href="/users/{{userInfo['id']}}/destroy">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            

      
    
        <a href="/users/new">Add a New User</a>
    </div>
</body>

</html>